{% extends 'base.html' %}

{% block title %}Контакты - Skystore{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="text-center">Контакты</h2>
        <p class="text-center">Свяжитесь с нами любым удобным способом</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Наши контакты</h5>
                <p class="card-text">
                    <strong>Телефон:</strong> +7 (999) 123-45-67<br>
                    <strong>Email:</strong> info@skystore.ru<br>
                    <strong>Адрес:</strong> г. Москва, ул. Примерная, д. 123
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Режим работы</h5>
                <p class="card-text">
                    <strong>Пн-Пт:</strong> 9:00 - 20:00<br>
                    <strong>Сб-Вс:</strong> 10:00 - 18:00
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}